.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/image/sprite.png);
  background-image: -webkit-image-set(url(/image/sprite.png) 1x, url(/image/sprite.svg) 2x);
}
.icon-home3 {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.icon-pacman {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}
.icon-alarm {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}
.icon-zoom-in {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.icon-cross {
  width: 16px;
  height: 16px;
  background-position: -128px 0;
}
.icon-checkmark {
  width: 16px;
  height: 16px;
  background-position: -160px 0;
}

